image boot.vfat {
	vfat {
		files = {
			"zImage",
			"imx6ull-alientek-emmc.dtb",
			"boot.scr"
		}
	}
	size = 32M
}

image sdcard.img {
	hdimage {
		partition-table-type = "dos"
	}
	# U-Boot IVT 固定放 1KiB 偏移（i.MX6 ROM 硬性要求），不占分区表
	partition u-boot {
		in-partition-table = "no"
		image = "u-boot-dtb.imx"
		offset = 1024
	}
	partition boot {
		partition-type = 0x0c
		bootable = "true"
		image = "boot.vfat"
		offset = 1M
	}
	partition rootfs {
		partition-type = 0x83
		image = "rootfs.ext4"
	}
}
